/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
    display: flex;
    justify-content: center;
    color: white;
}
body {
    background-color: #0a1420;
}

.head{
    width: 100%;
    display: inherit;
    justify-content: center;
    background-color: #4254f4;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-style: italic;
}
.form{
    display: flex;
    justify-content: center;
}
form{
    display: block;
    padding-top: 10%;
    width: 50%;
}

input {
    width: calc(100% - 25px);
    margin-bottom: 15px;
    padding: 21px 12px 19px;
    background-color: #1f2937;
    border: 1px solid #353f4d;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

button{
    cursor: pointer;
    width: calc(100%);
    margin-bottom: 15px;
    padding: 21px 12px 19px;
    background-color: #4254f4;
    border: 1px solid #353f4d;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 170%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}

#remaining{
    float: right;
}

